

<h3>The students we have in our database are: </h3>

<%@students.each do |id, firstname, lastname, major , email|%>
	<ul>
		<li>
			<h4 style="color:white;"> First Name: <%=firstname%></h4>
			<h4 style="color:white;"> Last Name: <%=firstname%></h4>
			<h4 style="color:white;"> Major: <%=major%></h4>
			<h4 style="color:white;"> Email Address: <%=email%></h4>
			<a href="/students/<%=id%>/edit" class= "button tiny radius round"> Edit</a>
			<a href="/students/<%=id%>" class = "button tiny radius round"> Delete</a>
		</li>
	</ul>
<%end%>