

<h3>The students we have in our database are: </h3>
<table class="tableclass">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Graduation Status</th>
		</tr>

<%@students.each do |id, firstname, lastname, major , email|%>

		
			<tr >
				<td ><a href="/students/<%=id%>"><%=firstname%> </a></td>
				<td><a href="/students/<%=id%>"><%=lastname%></a></td>
	 			<a href="/students/<%=id%>/edit" class= "button tiny radius round  anchor"> Edit</a>
				<a href="/students/<%=id%>/delete" class = "button tiny radius round anchor"> Delete</a>
			</tr>
	
	
<%end%>
</table>










<!-- <h3>The students we have in our database are: </h3>
<table class="tableclass">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Major</th>
			<th>Email Address</th>
		</tr>

<%@students.each do |id, firstname, lastname, major , email|%>


		<tr>
			<td><%=firstname%> </td>
			<td><%=lastname%></td>
			<td><%=major%></td>
			<td><%=email%></td>
			<a href="/students/<%=id%>/edit" class= "button tiny radius round  anchor"> Edit</a>
			<a href="/students/<%=id%>/delete" class = "button tiny radius round anchor"> Delete</a>
		</tr>
	
	
<%end%>
</table> -->